version: '3.8'

services:
  api:
    build: .
    image: url-shortener-app
    container_name: url-shortener-api
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
      - APP_BASE_URL=http://localhost:8080/
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/shortenerdb
      - SPRING_DATASOURCE_USERNAME=shorteneruser
      - SPRING_DATASOURCE_PASSWORD=shortenerpassword
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update

    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:14-alpine
    container_name: url-shortener-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=shortenerdb
      - POSTGRES_USER=shorteneruser
      - POSTGRES_PASSWORD=shortenerpassword
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: url-shortener-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
