version: '3.8'

services:
  api:
    build: .
    image: url-shortener-app
    container_name: url-shortener-api
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - DB_HOST=postgres
      - DB_USER=shorteneruser
      - DB_PASSWORD=shortenerpassword
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:14-alpine
    container_name: url-shortener-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=shortenerdb
      - POSTGRES_USER=shorteneruser
      - POSTGRES_PASSWORD=shortenerpassword
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: url-shortener-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
